[package]
name = "finite-wasm"
version = "0.2.0"
edition = "2021"
authors = ["Simonas Kazlauskas <finite-wasm@kazlauskas.me>"]
license = "MIT OR Apache-2.0"
readme = "README.mkd"
repository = "https://github.com/near/finite-wasm"
homepage = "https://github.com/near/finite-wasm"
documentation = "https://docs.rs/finite-wasm"
description = """
Guarantee deterministic limits on execution time and space resources made available to the
WebAssembly programs in a runtime-agnostic way.
"""
exclude = ["/tests/snaps"]

[[test]]
name = "wast"
path = "src/wast_tests/runner.rs"
harness = false
required-features = ["instrument"]

[[bench]]
name = "instrument_all"
path = "benches/instrument_all.rs"
harness = false
required-features = ["instrument"]

[dependencies]
bitvec = "1.0.1"
dissimilar = "1"
wasmparser = "0.98.1"
wasmprinter = "0.2.49"
thiserror = "1"
num-traits = "0.2.15"
prefix-sum-vec = "0.1.2"
wasm-encoder = { version = "0.20", optional = true }

[dev-dependencies]
walkdir = "2.3.0"
wast = "52"
atoi = "2.0.0"
rayon = "1.6.1"
criterion = "0.4.0"
wasm-instrument = "0.4"


[features]
instrument = ["wasm-encoder"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "finite_wasm_docs"]
